<!DOCTYPE html>
<html>
    <head>
        <title>movieBust</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <link rel="stylesheet" href="main.css" type="text/css" />
    </head>
    <body>
        
        <div id="app">
            
            <div class="navbar navbar-default navbar-static-top">
                <h1 class='col-md-4 col-xs-12'>Movie bust</h1>
            </div>
            
            <div class="search-bin col-md-12 col-xs-12">
                
                <div class="col-xs-9 col-md-6 col-md-offset-3 col-xs-offset-1">
                    <input type="text" class="form-control" v-model='query' placeholder='search' />
                </div>
                
            </div>
            
            <div class="container-fluid">
                <h1 v-if='view'>search for: {{ query }}</h1>
                
                <h3>{{ resp_data.dlen }}</h3>
                
                <p class='col-xs-2 col-md-2 col-xs-offset-5'>{{ uiMessage }}</p>
                
                <div class="col-md-12 col-xs-12">
                    
                    <div class="row">
                        <h2 v-if="resp_data.status === 'False'" class='text-center'>{{ resp_data.data }}</h2>
                
                        <div v-else="resp_data.status === 'True'" v-for='result in resp_data.data' class="bin col-xs-5 col-md-3">
                            <h2 class='col-md-12 col-xs-12'>{{ result.Title }}</h2>
                            <p class='pull-right lead'>Year: {{ result.Year }}</p>
                            <p class='lead'>type: {{ result.Type }}</p>
                            <img v-if="result.Poster !== 'N/A'" :src="result.Poster" class='img-responsive img-thumbnail' />
                            <button @click='open_link( result.Title )' class='btn btn-success btn-block'>check it out</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        <!--vueJS source code-->
        <script src='https://unpkg.com/vue/dist/vue.js'></script>
        
        <!--soruce code to make a api request-->
        <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>
        
        <!--map box script-->
        <!--<script src='https://api.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js'></script>-->
    </body>
</html>